In [1]:
import tensorflow as tf
from tensorflow.keras.models import load_model
import pickle
import pandas as pd
import numpy as np

In [2]:
# Load trained model, scaler, encoders
model = load_model('model.h5')

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender = pickle.load(file)

with open('oh.pkl','rb') as file:
    oh = pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler = pickle.load(file)

In [3]:
input_data = {
    'CreditScore'     : 600,
    'Geography'       : 'France',
    'Gender'          : 'Male',
    'Age'             : 40,
    'Tenure'          : 3,
    'Balance'         : 60000,
    'NumOfProducts'   : 1,
    'HasCrCard'       : 1,	
    'IsActiveMember'  : 1,
    'EstimatedSalary' : 50000,
    
}

In [4]:
geo_encoded = oh.transform([[input_data['Geography']]])
geo_encoded_df = pd.DataFrame(geo_encoded,columns=oh.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\azefr\OneDrive\Desktop\Projects\ANN\Bank_Customer_Churn Classification using ANN\Project\env\lib\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [5]:
input_data = pd.DataFrame([input_data])
input_data = pd.concat([input_data.reset_index(drop=True),geo_encoded_df],axis=1)
input_data

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,France,Male,40,3,60000,1,1,1,50000,1.0,0.0,0.0

In [6]:
input_data.drop(columns=['Geography'],inplace=True)

In [7]:
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,Male,40,3,60000,1,1,1,50000,1.0,0.0,0.0

In [8]:
input_data['Gender'] = label_encoder_gender.transform(input_data['Gender'])
input_data

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,1,1,1,50000,1.0,0.0,0.0

In [9]:
scaled_input = scaler.transform(input_data)
scaled_input

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
        -0.91668767,  0.64920267,  0.97481699, -0.87683221,  1.00150113,
        -0.57946723, -0.57638802]])

In [10]:
pred = model.predict(scaled_input)
pred

1/1 [==============================] - 0s 73ms/step

array([[0.16772881]], dtype=float32)

In [11]:
prediction_proba = pred[0][0]
prediction_proba

0.16772881

In [12]:
if prediction_proba > 0.5:
    print("Customer is likely to chrun.")
else:
    print("Customer is not likely to chrun.")

Customer is not likely to chrun.